# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS
.eas/

# Native builds & artifacts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa
*.keystore

# Generated native folders (Managed Expo Workflow)
/ios
/android

# Metro
.metro-health-check*

# Logs & Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS & Windows system files
.DS_Store
Thumbs.db
*.pem

# Environment files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
server/.env.*
server/node_modules/

# TypeScript
*.tsbuildinfo

# IDE configuration
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
